/* Global Styling */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Global Padding to clear fixed navbar (approx 80px) */
.app-main-content {
  padding-top: 85px;
}

.app-main-content.home-no-pad {
  padding-top: 0;
}

/* Luxury Font */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap'); */